{
  "presets": [
    "@babel/env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}


/*{
  "presets": [
    ["@babel/env", {
      "modules": false
    }],
    "@babel/preset-stage-0",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-external-helpers"
  ]

}
*/