.card {
    background: #ffffff;
    border: 1px solid rgb(235, 235, 235);
    width: 250px;
    padding: 10px;

    &__header {
        height: 160px;

        img {
            height: 100%;
            width: 100%;
            background-size: cover;
        }
    }

    &__description {
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0px;
        text-align: justify;
    }

    &__action {
        display: flex;
        justify-content: flex-end;

        button {
            border: none;
            background: #065fd4;
            color: #fff;
            height: 35px;
            padding: 0px 20px;
            border-radius: 3px;
            cursor: pointer;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    
}